 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>


  <body>

    <div id="login_bar">
      <%= link_to "LOGIN FORM", 'products#index' %>
    </div>


    <section id="index_left">
      <div id="index_logo">
        LOGO.JPG
      </div>
    </section>

    <section id="index_right">
        <div id="register_form">
          <div>enter username </div>
          <div>enter email</div>
          <div>enter password</div>
         <%= link_to "REGISTER", 'users#create' %>
        </div>
    </section>







  </body>
</html>
